<?php
define( 'DB_NAME', 'wordpressDB' );
define( 'DB_USER', 'wordpressUser' );
define( 'DB_PASSWORD', 'wordpress!!.' );
define( 'DB_HOST', 'masterdb.casukumzt7rl.us-east-1.rds.amazonaws.com' );
define( 'DB_CHARSET', 'utf8' );
define( 'DB_COLLATE', '' );
